<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.content.channel.mapper.ChannelStatsMapper">

    <select id="selectTrendData" resultType="org.jeecg.modules.content.channel.entity.ChannelStats">
        SELECT *
        FROM channel_stats
        WHERE channel_id = #{channelId}
          AND stat_date BETWEEN #{startDate} AND #{endDate}
          AND stat_type = #{statType}
        ORDER BY stat_date ASC
    </select>

</mapper>
