<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.content.circle.mapper.CircleRecommendSourceMapper">
    <resultMap id="BaseResultMap" type="org.jeecg.modules.content.circle.entity.CircleRecommendSource">
        <id column="id" property="id"/>
        <result column="circle_id" property="circleId"/>
        <result column="user_id" property="userId"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="exposure_time" property="exposureTime"/>
        <result column="click_time" property="clickTime"/>
        <result column="join_time" property="joinTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO circle_recommend_source (id, circle_id, user_id, source_type, create_time)
        VALUES
        <foreach collection="list" item="s" separator=",">
            (#{s.id}, #{s.circleId}, #{s.userId}, #{s.sourceType}, NOW())
        </foreach>
    </insert>
</mapper>
